
.user-show-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 5.2rem);
    display: flex;
    background-color: rgba(0,0,0,0.3);
}


.user {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
    height: 100%;
    width: 30%;
    text-align: center;

    &__card {
        position: relative;
        margin-top: 5rem;
        margin-left: 5rem;
        width: 40rem;
        height: 55rem;
        // background-color: rgba(0,0,0,0.3);
        // border: 1px solid rgba($color-white, 0.5);
        border-radius: $border-radius;
        // box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        overflow: hidden;

        img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 35%;
            left: 50%;
            width: 80%;
            height: 60%;
            border-radius: $border-radius;
            padding: 2rem;
            background-color: rgba($color-white, 0.1);
            box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
        }

        h1 {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            bottom: 10%;
            width: 90%;
            letter-spacing: 3px;
        }

    }

    &__button {
        text-decoration: none;
        padding: 0.5rem 2rem;
        background-color: rgba(0,0,0,0.4);
        color: white;
        border:1px solid white;
        border-radius: $border-radius;
    }

    &--green {
        position: absolute;
        bottom: 5%;
        left: 13%;
        color: $color-green;
        border-color: $color-green;

        &:hover {
            background-color: $color-green;
            color: black;
        }
    }
    &--pink {
        position: absolute;
        bottom: 5%;
        right: 13%;
        color: $color-pink;
        border-color: $color-pink;

        &:hover {
            background-color: $color-pink;
            color: black;
        }
    }
}


.page-contents {
    position: relative;
    height: 100%;
    width: 70%;

    &__trollo-logo {
        width: 50rem;
        position: absolute;
        top: 10rem;
        right: 10%;
        transform: rotate(20deg);
        transition-duration: 1s;

        &:hover {
            transform: scale(1.25) rotate(30deg);
        }
    } 

    .ball {
        height: 5rem;
        width: 5rem;
        border-radius: 100px;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.5);
        }
    }

    .b1 {
        position: absolute;
        top: 20%;
        right: 85%;
        transform: scale(0.4);
        background-color: $color-blue;
    }
    .b2 {
        position: absolute;
        top: 40%;
        right: 50%;
        transform: scale(0.7);
        background-color: $color-green;
    }
    .b3 {
        position: absolute;
        top: 15%;
        right: 10%;
        transform: scale(0.7);
        background-color: $color-pink;
    }
    .b4 {
        position: absolute;
        top: 0%;
        right: 25%;
        transform: scale();
        background-color: $color-green;
    }
    .b5 {
        position: absolute;
        top: 30%;
        right: 75%;
        transform: scale(0.9);
        background-color: $color-pink;
    }
    .b6 {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: scale(0.8);
        background-color: $color-blue;
    }
    .b7 {
        position: absolute;
        top: 70%;
        right: 30%;
        transform: scale(1.2);
        background-color: $color-pink;
    }
    .b8 {
        position: absolute;
        top: 60%;
        right: 70%;
        transform: scale(1.1);
        background-color: $color-blue;
    }
    .b9 {
        position: absolute;
        top: 2.5%;
        right: 70%;
        transform: scale(0.2);
        background-color: $color-green;
    }
    .b10 {
        position: absolute;
        top: 25%;
        right: 40%;
        transform: scale(0.3);
        background-color: $color-pink;
    }

}