<img src=" <%= current_user.avatar %> " alt="user picture">

<h1> Welcome To Trollo, <br> <%= current_user.full_name() %> </h1>
<%= link_to "edit", edit_user_registration_path(current_user.id) %>
<%= link_to "Your Boards", boards_path %>