.form-item {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; 
    width: 50%;
    height: 4rem;
    border: none;
    border-bottom: 3px solid $color-green;
    border-radius: $border-radius;
    background-color: rgba(0,0,0,0.4);
    color: $color-green;
    padding-left: 1rem;
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-family: "Lato";
}

.form-container {
    position: relative;
    width: 50vw;
    height: 100vh;
    padding-top: 5.2rem;

    .form-heading {
        display: inline-block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 15rem;
        left: 50%;
        text-align: center;
        letter-spacing: 7px;
        font-size: 3.5rem;
        padding: 0.5rem 2rem;
        background-color: rgba(0,0,0,0.4);
        color: $color-green;
        border: 1px solid $color-green;
        border-radius: $border-radius;
    }    


    .board-input {
        top: 25rem;
    }

    .board-public {
        top: 35rem;
    }

    .board-picture {
        top: 45rem;
    }

    .board-submit {
        top: 55rem;
        border: 1px solid $color-green;
        width: 40%;
        font-size: 2.5rem;
        cursor: pointer;

        &:hover {
            color: black;
            background-color: $color-green;
        }
    }
}


.user-email {
    top: 30rem;
}

.user-password {
    top: 40rem;
}

.user-password-confirm {
    top: 50rem;
}

.edit-password {
    top: 50rem;
}

.user-current-password {
    top: 60rem;
}

.user-submit {
    top: 50rem;
    border: 1px solid $color-green;
    width: 22.5rem;
    font-size: 2.5rem;
    cursor: pointer;

    &:hover {
        color: black;
        background-color: $color-green;
    }
}

.user-signup {
    top: 60rem;
}

.user-edit {
    top: 70rem;
}

.form-heading {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 15rem;
    left: 50%;
    text-align: center;
    letter-spacing: 7px;
    font-size: 3.5rem;
    padding: 0.5rem 2rem;
    background-color: rgba(0,0,0,0.4);
    color: $color-green;
    border: 1px solid $color-green;
    border-radius: $border-radius;
} 

.remember-me-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60rem;
    color: $color-blue;
}

.remember-me {
    font-size: 1.6rem;
    letter-spacing: 1px;
    
    &::after {
        content: "";
        display: block;
        height: 110%;
        width: 110%;
        // transform: translateY( -2px);
        border-radius: $border-radius;
        background-color: $color-blue;
    }

    &:checked::after {
        content: "";
        display: block;
        height: 110%;
        width: 110%;
        border-radius: $border-radius;
        background-color: $color-green;
    }
}

.devise-links {
    top: 65rem;
    font-size: 1.6rem;
    letter-spacing: 1px;

    a {
        text-decoration: none;
        color: $color-blue;
    }
}

.edit-links {
    top: 80rem;

    form {
        input {
            border: none;
            background-color: rgba(0,0,0,0.4);
            color: $color-blue;
            border: 1px solid $color-blue;
            border-radius: $border-radius;
            padding: 0.25rem 0.5rem;
            margin: 1rem 0;
        }
    }
}